
#dongho h2{
     position: relative;
     display:  flex;
     color:#fff;
     text-align: center;
     margin:10px 0;
     font-weight: 20px;
 }
 #dongho #thoigian{
    display: block;
 }
#dongho #thoigian div{
     position: relative;
} 
 #dongho #thoigian div{
     position: relative;
     margin: 0 5px;
     -webkit-box-reflect: below 10px linear-gradient(transparent, #0004);
 }